
.footer-container {
    background-color: #1d1d1f;

    margin: 0px;
    width: 100vw;
    height: 70vh;

    display: flex;
    justify-content: center;
}

.footer-links-area {
    width: 100%;
    max-width: 1200px;
    padding: 50px 0;
}

.footer-text-area {
    color: #86868b;
    font-size: smaller;
}

.footer-navs-div {
    display: block;
}
