
.s2 {
    margin: 0px;
    margin-top: -200px;
    width: 100vw;
    height: 200vh;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -2;
}

.s2-background-image {
    /* margin: auto; */
    /* margin-top: -18%; */
    width: 80%;
    /* z-index: -1; */
    position: absolute;
    bottom: 0px;
}

.s2-content {
    max-width: 700px;
    padding: 20px;
    text-align: center;
    font-size: large;
    color: black;
    position: absolute;
    bottom: 50px;
    /* margin-bottom: 30px; */
}

.s2-heading {
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin: 0;
    align-items: center;
}

.s2-body {
    margin-bottom: 30px;
}